@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --title: 35px;
    --text: 19px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(10, 10, 10);
    overflow-x: hidden;
}

/** Navegation Menu **/

#header {
  position: relative;
  width: 100%;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  font-family: 'Montserrat', sans-serif;
}

.menu .logo-box {
  margin-left: 20px;
}

.menu .logo-box h1 a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  cursor: default;
  padding: 2em;
}

.menu .list-container {
  margin-right: 20px;
}

.menu .list-container ul {
  display: flex;
}

.menu .list-container ul li {
  list-style: none;
}

.menu .list-container ul li a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  transition: 0.8s;
  font-size: 18px;
}

.menu .list-container ul li a.active {
  background: #0090ff;
  color: #fff;
}

.menu .list-container ul li a:hover {
  background: #0090ff;
  color: #fff;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

@media only screen and (max-width:900px) {
  .checkbtn {
      display: block;
      position: absolute;
      right: 30px;
      top: 10px;
      font-size: 28px;
      color: #fff;
      transition: all .5s;
      cursor: pointer;
  }
  .checkbtn:hover {
      color: #ffffff9f;
  }
  .menu .logo-box {
      margin-left: 10px;
      margin-bottom: 10px;
  }
  .menu .list-container {
      position: fixed;
      top: 67px;
      margin-right: -0.1px;
      background: #000;
      width: 100%;
      height: 100vh;
      right: -100%;
      transition: right .7s;
  }
  .menu .list-container .lists {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top: 4px solid #0090ff;
  }
  .menu .list-container ul li {
      width: 90%;
      border-bottom: 2px solid #0090ff;
      display: flex;
      justify-content: center;
  }
  .menu .list-container ul li a {
      font-size: 20px;
      text-align: center;
      padding: 20px 0px;
  }
  .menu .list-container ul li a.active {
      background: none;
      color: #fff;
  }
  .menu .list-container ul li a:hover {
      background: none;
      color: #0090ff;
  }
  #check:checked~div {
      right: 0;
  }
}

/* Botón Whatsapp */

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}

.whatsapp-icon {
    margin-top:13px;
}

.whatsapp-icon {
    margin-top:13px;
}

/* Contenido subpáginas */

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("assets/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.tittle h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 5%;
    font-size: calc(10px + 10vh);
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff;
    text-shadow: 0 0 5px #009dff, 0 0 15px #009dff, 0 0 20px #009dff, 0 0 40px #009dff, 0 0 60px #005081, 0 0 10px #45b0f2, 0 0 98px #005081;
      color: rgb(160, 230, 250);
    text-align: center;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}

@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
      text-shadow: 0 0 5px #0090ff, 0 0 15px #0090ff, 0 0 20px #0090ff, 0 0 40px #0090ff, 0 0 60px #13007d, 0 0 10px #13007d, 0 0 98px #13007d;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    text-shadow: 0 0 5px #0090ff, 0 0 15px #0090ff, 0 0 20px #0090ff, 0 0 40px #0090ff, 0 0 60px #13007d, 0 0 10px #13007d, 0 0 98px #13007d;
      color: #c8e7ff;
    }
  }

.tittle p{
    line-height: 2em;
    text-align: center;
    padding: 10px;
    margin: 20px 100px 20px 100px;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:773px) {
  .img-header .welcome h2 {
      font-size: 40px;
  }
  .img-header .welcome>button {
      width: 130px;
      font-size: 20px;
  }
  .img-header .welcome hr {
      width: 450px;
  }
}

@media only screen and (max-width:590px) {
  .tittle h1 {
      font-size: 30px;
  }
  .tittle p {
      font-size: 12px;
  }
}

@media only screen and (max-width:420px) {
  .tittle h2 {
      font-size: 18px;
      text-align: center;
  }
  .tittle p {
      width: 400px;
      font-size: 8px;
  }
}

.container{
    height: 100hv;
    background-color: white;
    padding: 1px;
    align-items: center;
    display: flex;
}

.content{
    display:flex;
    margin-top: 6em;
    align-items: center;
    display: flex;
    background-color: white;
    margin-bottom: 6em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.content .bot{
    align-items: center;
    padding: 70px;
    background-color: rgb(230, 230, 230);
    margin: 30px;
    transition: 1s;
    text-align: center;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.content .bot:hover{
    transition:1s;
    background-color: white;
    box-shadow: #111;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.7);
}

.content .bot a{
    text-decoration: none;
}

.content .bot h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

@media only screen and (max-width:773px) {
  .content{
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:590px) {

}

@media only screen and (max-width:420px) {

}

footer{
  padding: 40px;
  text-align:center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-image: url(assets/background.jpg);
  background-size: cover;
}